<section
  id="post-add"
  [ngStyle]="{
  'display': (active_submit) ? 'table-cell' : 'block'
  ,'vertical-align':  (active_submit) ? 'middle' : 'none'
  ,'text-align':  (active_submit) ? 'center' : 'left'
  }"
>
  <div *ngIf="!active_submit">
    <div class="col-md-12 mb-3">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        placeholder="Title"
        value=""
        [(ngModel)]="new_post.title"
        [ngClass]="{
          'alert alert-danger':!title_error
          ,'alert alert-success':title_error && new_post.title.trim()!=''
        }"
        role="alert"
        required>
    </div>
    <div class="col-md-12 mb-3">
      <label for="content">Post</label>
      <textarea
        class="form-control"
        id="content"
        name="content"
        [(ngModel)]="new_post.content"
        [ngClass]="{
          'alert alert-danger':!content_error
          ,'succes alert-succes':content_error && new_post.content.trim()!=''
        }"
        role="alert"
      ></textarea>
    </div>
    <div>&nbsp;</div>
    <button
      class="btn btn-primary"
      type="submit"
      (click)="onSubmit()"
      [disabled]="active_submit"
    >
      <span class="glyphicon glyphicon-ok-sign"></span> Submit
    </button>
  </div>
  <div *ngIf="active_submit" class="container" >
    Le post a bien été {{(index) ? 'modifié':'ajouté'}}
    <br />
    <br /><button routerLink="/posts">Voir les posts</button>
  </div>

</section>

